//#define MANIFEST 24

#include "resource.h"
#include "windows.h"
#include "commctrl.h"

LANGUAGE 0,0
IDC_APP_ICON ICON DISCARDABLE "tiny-can_icone.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,2,2,0
PRODUCTVERSION 2,2,2,0
FILEOS 0x00040004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04070000"
    BEGIN
      VALUE "FileVersion", "2, 2, 2, 0\0"
      VALUE "ProductVersion", "2, 2, 2, 0\0"
      VALUE "CompanyName", "MHS-Elektronik GmbH & Co. KG\0"
      VALUE "FileDescription", "Tiny-CAN Monitor\0"
      VALUE "InternalName", "Tiny-CAN Monitor\0"
      VALUE "LegalCopyright", "Copyright © 2008 - 2010 MHS-Elektronik\0"
      VALUE "OriginalFilename", "can_monitor.exe\0"
      VALUE "ProductName", "Tiny-CAN Monitor\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 0x0000
  END
END