                        <tr> 
                                <td colspan="3" align="Center" ><input type="text" name="newKey" size="35"></td>
                        </tr>
                        <tr> <td>&nbsp;</td>
                            <td align="Right"><a href="/index.html?pageId=dashEcho">Return</a></td>
                                <td align="left"><input type="submit" value="Add Key"></td>
                        </tr>
                        <input type="hidden" name="pageId" value="dashEcho">
                        <input type="hidden" name="action" value="addLicenseKey">



