        <H2>Dash Echo Licensing</H2>

        <strong>$UserMessage</strong><br>
        <br>
	Dash Echo Licensing is managed on a per connection/Seat basis. Each license 
        allow 1 additional simultaneous client. To connect TunerStudio for 
        Tuning and data logging requires 1 license. If you want to tune from 2 
        TunerStudio's at the same time, that requires licensing for at least 2 Seats.
        Adding a 2nd AppName that connects through the primary AppName, requires 1 Seat.
        
        <form name="dashEcho" method="post">
        <table><tbody>
                <tr>
                    <td colspan="3">
                    
                    </td>
		</tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    $InstalledLicenseKeys
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
$AddKey
<tr>
    <td colspan="3"></td>
</tr>
<tr>
    <td colspan="3">After Purchasing additional Seats, you will need to re-validate your license for the additional seats to be available.</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>
<tr>
    <td align="Right"><a href="https://www.efianalytics.com/register/viewProduct.jsp?productCode=DASH_ECHO_SINGLE_SEAT" target="_new">Purchase Seats</a></td>
    <td>&nbsp;</td>
    <td align="Left"><a href="index.html?pageId=dashEcho&action=revalidateLicense">Re-validate License</a></td>
    
</tr>		</tbody>
	</table>
        </form>