
<h3>$Title</h3>
<form name="editScript"> 
    <input type="hidden" name="pageId" value="system">
    <input type="hidden" name="action" value="saveScript">
    <input type="hidden" name="scriptType" value="$ScriptType">

<table>
    <tr><td colSpan="2">$Instructions</td></tr>
    <tr><td colSpan="2">&nbsp;</td></tr>
    <tr><td colSpan="2"><textarea id="scriptContent" name="scriptContent" rows="30" cols="80">$ScriptContent</textarea></td></tr>
    <tr><td align="right"><a href="/index.html?pageId=system">Cancel</a></td><td><input type="submit" value="Save"></td></tr>
</table>
</form>