        <H2>Project Communication Settings</H2>

        <strong>$UserMessage</strong><br><br>
        <form name="gpsEnabledForm" method="post">
        <table><tbody>
        <tr> <td align="center" colspan="2"><h3>Controller Communication Settings</H3></td>
        </tr>
        <tr>
            <td>
                $gpsEnabled
                </td>
        </tr>
        <tr>
        </tbody>
        </table>
        </form>
        <table><tbody>
        <tr> <td align="center" colspan="2"><h3>Controller Communication Settings</H3></td>
        </tr>
        <td align="center" colspan="2">$controllerInterface</td>
        </tr>
        <tr> <td align="center" colspan="2">$interfaceSettings</td>
        </tr>

        </tbody>
        </table>
        