
<form action="" method="POST">
<table>
    <tr>
        <td align="right">
            First Name:
        </td>
        <td align="left">
            <input type="text" name="firstName" value="$firstName">
        </td>
    </tr>
    <tr>
        <td align="right">
            Last Name:
        </td>
        <td align="left">
            <input type="text" name="lastName" value="$lastName">
        </td>
    </tr>
    <tr>
        <td align="right">
            E-Mail:
        </td>
        <td align="left">
            <input type="text" name="email" value="$email" size="30">
        </td>
    <tr>
        <td align="right">
            Registration Key:
        </td>
        <td align="left">
            <input type="text" name="regKey" value="$regKey" size="30">
        </td>
    </tr>
    <tr>
        <td align="right">
            <input type="hidden" name="action" value="save">
        </td>
        <td align="left">
            <input type="submit" value="Activate Registration">
        </td>
    </tr>
</table>
</form>
<br><br>
<a href="https://www.efianalytics.com/register/viewProduct.jsp?productCode=TS_DashPro" target="_New">Purchase Registration</a>